.wp-portfolio__container {
    background: var(--color-secondary);

    h1, p {
        color: white;
    }

    .wp-portfolio__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        .wp-portfolio__item {
            cursor: pointer;
            text-align: center;
            padding: 1rem;
            background: white;
            box-shadow: .3rem .3rem 0rem -0.063rem var(--color-grey-boxshadow);
            -webkit-box-shadow: .3rem .3rem 0rem -0.063rem var(--color-grey-boxshadow);
            -moz-box-shadow: .3rem .3rem 0rem -0.063rem var(--color-grey-boxshadow);
            transition: ease .2s;
            &:hover {
                box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
                -webkit-box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
                -moz-box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
            }

            .wp-portfolio__item-img {
                margin-top: 1rem;
                height: 10rem;
                width: 100%;
                border: 0.125rem solid var(--color-secondary);
            }

            .wp-portfolio__item-actions {
                margin-top: 1rem;
                button {
                    font-size: 1.2rem;
                    background: none;
                    outline: none;
                    border: 0.125rem solid var(--color-secondary);
                    padding: 0.125rem .5rem;
                }
            }
        }
    }
}

@media (min-width: 760px)
{
    .wp-portfolio__container {
        .wp-portfolio__items {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
    }
}

@media (min-width: 1024px)
{
    .wp-portfolio__container {
        .wp-portfolio__items {
            .wp-portfolio__item {
                .wp-portfolio__item-img {
                    height: 17rem;
                }
            }
        }
    }
}

@media (min-width: 1280px)
{
    .wp-portfolio__container {
        .wp-portfolio__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}