.wp__header-container {
    height: 100vh;
    padding: 3.5rem 7rem;
    display: flex;
    position: relative;

    .wp__header-left,
    .wp__header-right {
        width: 50%;
    }

    .wp__header-navbar {
        display: none;
        justify-content: flex-end;
        font-family: var(--arimo);
        button {
            cursor: pointer;
            outline: none;
            border: none;
            font-size: 1rem !important;
            color: black;
            font-weight: 700;
            &:not(:first-child) {
                margin-left: 4rem;
            }
        }
    }

    .wp__header-right {
        .wp__header-navbar {
            display: flex;
        }
    }

    .wp__header-content {
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        h1 {
            font-family: var(--league-spartan);
            font-size: 5rem !important;
        }
        h2 {
            font-family: var(--arimo);
            font-size: 2.5rem !important;
            font-weight: 50;
        }
        p {
            font-family: var(--montserrat);
            margin-top: 1.5rem;
            width: 45rem;
            font-size: 1.3rem !important;
            &::after {
                content: '';
                margin-top: 1.2rem;
                display: block;
                border-bottom: .15rem solid black;
                width: 50%;
                background: red;
            }
        }
    }

    .wp__header--black-triangle,
    .wp__header--grey-triangle {
        position: absolute;
        height: 9rem;
        width: 9rem;
        left: 7rem;
    }

    .wp__header--black-triangle {
        top: 3.5rem;
    }

    .wp__header--grey-triangle {
        bottom: 3.5rem;
    }

    .wp__header-personal-img {
        position: absolute;
        overflow: hidden;
        height: 45rem;
        width: 45rem;
        bottom: 0;
        right: 0;
        img {
            width: 100%;
            position: absolute;
        }
    }

    .wp__header-bars {
        display: none;
    }

    /* animation delay */
    .wp__header-personal-img.scale-up-bottom {
        animation-delay: .30s;
    }

    .wp__header-content.fade-in-top {
        animation-delay: .60s;
    }

    .wp__header--grey-triangle.fade-in-top {
        animation-delay: .90s;
    }
}

@media (max-width: 1650px)
{
    .wp__header-container {
        height: auto;
        flex-direction: column-reverse;

        .wp__header-right {
            display: none;
        }

        .wp__header-navbar {
            display: flex;
            justify-content: center;
            button {
                font-size: 1.2rem !important;

                &:not(:first-child) {
                    margin-left: 1.4rem;
                }
            }
        }

        .wp__header-left {
            padding-top: 3rem;
            width: 100%;
        }
        .wp__header-content {
            justify-content: flex-start;
            text-align: center;
            h1 {
                font-size: 3rem !important;
                margin: 0 auto;
            }
            h2 {
                font-size: 1.5rem !important;
                margin: 0 auto;
            }
            p {
                margin: 0 auto;
                margin-top: .9rem;
                width: 80%;                
                font-size: 1rem !important;
                &::after {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .wp__header--black-triangle,
        .wp__header--grey-triangle {
            display: none;
        }

        .wp__header-personal-img {
            position: relative;
            width: 20rem;
            height: 20rem;
            margin: 0 auto;
            margin-top: 3rem;
        }
    }
}

@media (min-width: 820px) and (max-width: 1700px)
{
    .wp__header-container {
        padding: 3rem;

        .wp__header-content {
            h1 {
                font-size: 3.5rem !important;
            }
            h2 {
                font-size: 2rem !important;
            }
            p {
                width: 70%;
                font-size: 1.5rem !important;
            }
        }
    }
}

@media (max-width: 540px)
{
    .wp__header-container {
        padding: 1.5rem 1.5rem 4rem 1.5rem;

        .wp__header-navbar {
            display: none;
        }

        .wp__header-content {
            h1 {
                font-size: 3rem !important;
            }
            h2 {
                font-size: 1.5rem !important;
            }
            p {
                margin-top: .9rem;
                width: 100%;
                font-size: 1rem !important;
            }
        }

        .wp__header-personal-img {
            margin-top: 2rem;
            width: 18rem;
            height: 18rem;
        }

        .wp__header-bars {
            display: block;
            display: flex;
            justify-content: flex-end;
            i {
                cursor: pointer;
                font-size: 1.5rem;
                user-select: none;
            }
        }
    }
}

@media (max-width: 350px)
{
    .wp__header-container {
        .wp__header-content {
            h1 {
                font-size: 2.5rem !important;
            }
            h2 {
                font-size: 1.5rem !important;
                margin: 0 auto;
            }
            p {
                margin-top: .9rem;
                width: 100%;                
                font-size: .856rem !important;
                &::after {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .wp__header-personal-img {
            width: 15rem;
            height: 15rem;
            margin-top: 1rem;
        }
    }
}