.wp__header-container {
    padding: 1.5rem;

    .wp__header-bars {
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;
    }

    .wp__header-navbar {
        display: none;
        justify-content: center;
        font-family: var(--arimo);
        button {
            cursor: pointer;
            outline: none;
            border: none;
            background: none;
            font-size: 1rem;
            color: black;
            font-weight: 500;
            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }

    .wp__header-personal-img {
        overflow: hidden;
        margin: 0 auto;
        margin-top: 1rem;
        height: 18rem;
        width: 18rem;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .wp__header-content {
        margin-top: 1rem;
        text-align: center;

        h1 {
            font-family: var(--league-spartan);
            font-size: 2.5rem;
        }
        h2 {
            font-family: var(--arimo);
            font-size: 1.5rem;
            font-weight: 50;
        }
        p {
            font-family: var(--montserrat);
            margin-top: 1rem;
            width: 100%;
            font-size: 1rem;
            &::after {
                content: '';
                display: block;
                margin: 0 auto;
                margin-top: 1rem;
                border-bottom: .1rem solid black;
                width: 80%;
            }
        }
    }

    .wp__header--black-triangle,
    .wp__header--grey-triangle {
        display: none;
    }
}

@media (min-width: 760px)
{
    .wp__header-container {
        padding: 3rem;

        .wp__header-personal-img {
            margin-top: 2rem;
        }
    
        .wp__header-bars {
            display: none;
        }
    
        .wp__header-navbar {
            display: flex;
        }
    
        .wp__header-content {
            margin-top: 2rem;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.3rem;
                &::after {
                    margin-top: 2rem;
                    width: 70%;
                }
            }
        }
    }
}

@media (min-width: 1024px)
{
    .wp__header-container {
        padding: 5rem;

        .wp__header-navbar {
            button {
                font-size: 1.3rem;
            }
        }

        .wp__header-personal-img {
            margin-top: 2rem;
            width: 20rem;
            height: 20rem;
        }

        .wp__header-content {
            margin-top: 3rem;

            h1 {
                font-size: 5rem;
            }
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.7rem;
            }
        }
    }
}

@media (min-width: 1280px)
{
    .wp__header-container {
        padding: 2.5rem;
        position: relative;
        height: 100vh;
        
        .wp__header-navbar {
            justify-content: flex-end;
            button {
                font-size: 1rem;
                &:not(:last-child) {
                    margin-left: 2rem;
                }
            }
        }

        .wp__header-personal-img {
            position: absolute;
            bottom: 0;
            right: 2.5rem;
            height: 30rem;
            width: 30rem;
        }

        .wp__header-content {
            margin: 0;
            position: absolute;
            width: 42%;
            top: 2.5rem;
            bottom: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            h1 {
                font-size: 4.5rem;
            }

            h2 {
                font-size: 2.7rem;
            }

            p {
                font-size: 1.3rem;
                text-align: left;
                &::after {
                    margin: 0;
                    margin-top: 1.5rem;
                    width: 50%;
                }
            }
        }

        .wp__header--black-triangle,
        .wp__header--grey-triangle {
            display: block;
            position: absolute;
            width: 6rem;
            height: 6rem;
        }

        .wp__header--black-triangle {
            top: 2.5rem;
        }

        .wp__header--grey-triangle {
            bottom: 2.5rem;
        }
    }
}

/* animation delay */
.wp__header-personal-img.scale-up-bottom {
    animation-delay: .30s;
}

.wp__header-content.fade-in-top {
    animation-delay: .60s;
}

.wp__header--grey-triangle.fade-in-top {
    animation-delay: .90s;
}