.wp__about-me-container {
    background: var(--color-secondary);
    position: relative;
    overflow: hidden;
    color: white !important;

    h1, h2 {
        color: white !important;
    }
    .wp__about-me--description {
        text-align: center;
        width: 65%;
        margin: 0 auto;
    }

    button {
        font-family: var(--montserrat);
        font-size: 1.8rem;
        color: black;
        background: white;
        border: none;
        outline: none;
        padding: .5rem;
        box-shadow: .5rem .5rem 0rem -0.063rem var(--color-grey-boxshadow);
        -webkit-box-shadow: .5rem .5rem 0rem -0.063rem var(--color-grey-boxshadow);
        -moz-box-shadow: .5rem .5rem 0rem -0.063rem var(--color-grey-boxshadow);
        transition: ease .2s;
        &:not(:last-child) {
            margin-right: 2rem;
        }
        &:hover {
            box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
            -webkit-box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
            -moz-box-shadow: 0rem 0rem 0rem -0.063rem var(--color-grey-boxshadow);
        }
    }

    .wp__about-me-skillset {
        margin-top: 2.8rem;
        overflow: hidden;
        .wp__about-me-skillset-item {
            margin: 0 auto;
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 60%;
            button {
                margin-bottom: 2rem;
            }
        }
    }
}